flask==3.1.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-socketio==5.5.1
flask-wtf==1.2.2
flask-caching

sqlalchemy==2.0.40
psycopg2-binary==2.9.10
pymysql

python-dotenv==1.1.0
eventlet==0.39.1
werkzeug==2.3.8
gunicorn

PyMuPDF
pytesseract
reportlab
pdfkit
nltk
spacy

numpy
scipy
scikit-learn
opencv-python-headless

requests
openai
sendgrid
slack-sdk

email-validator
wtforms
jinja2

psutil
xlsxwriter

pymongo
fitz
numpy
opencv-python
PyMuPDF
python-dotenv